body{
    height: 100%;
    padding-top: 50px;
}

@-webkit-keyframes anim {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes anim{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

section{
    -webkit-animation: anim 1.5s;
    animation: anim 1.5s;
}

#editor_body{
    height: 70%;
}

#output{
    height: 30%;
}

pre{
    background-color: #FFFFFF;
    border: 0px;
}

#top{
    background-color: #181818;
    margin-bottom: 120px;
    height: 500px;
    padding: 64px;
}

#middle{
    margin-bottom: 60px;
}

#head{
    margin-top: 100px;
}

.featurette-image{
    margin: 0 -15px;
}

.featurette-heading {
    margin-top: 120px;
}

.featurette-divider{
    margin: 80px 0;
}