{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
{% endblock %}
{% block body %}
<section id="top">
<div class="container">
    <div clss="row　jumbotron">
        <div id="head" class="col-xs-6">
            <h2>ブラウザ１つでpythonプログラミング!!</h2>
            <p>Hydrophiidaeはブラウザ１つでpythonプログラミングが始められる。</p><p>オンラインpythonエディタです。</p>
            <a href="./editor" class="btn btn-lg btn-success" role="button">今すぐ始める</a>
        </div>
        <div class="col-xs-6">
            <img src="{{ url_for('static', filename='image/MiniLapTop.png') }}" style="width: 640px; height: 424px;">
        </div>
    </div>
</div>
</section>
<section id="middle">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='image/Q.png') }}">
              <h2>Hydrophiidaeとは?</h2>
              <p>
              Hydrophiidaeとはブラウザ上でpythonのコードを編集・実行できるオンラインpythonエディタです。ちょっとpython触ってみたいなと思ったときや試したいコードをサッと書くのに非常に便利です。
              </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='image/python.png') }}" style="width: 140px; height: 140px;">
              <h2>pythonとは?</h2>
              <p>
              pythonとは1991年にグイド・ヴァンロッサムによって開発されたプログラミング言語です。学習コストが低く、可読性、保守性に優れた言語です。
              デスクトップアプリから学術用途のプログラム、そして、<a href="http://www.softbank.jp/robot/special/tech/">あの話題のロボットの制御まで</a>幅広く利用されている人気の言語です。
              </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='image/wakaba.png') }}" style="width: 160px; height: 140px;">
              <h2>プログラミング初学者にオススメ!!</h2>
              <p>
              環境構築する手間なしで始められるのでプログラミングを始めてみたいなあと思っているけど環境構築するの面倒だなあと思っている人に非常にオススメです。
              また、とてもシンプルなので開発環境の使い方を覚える必要が無く、学習コストを極限にまで抑えることが可能です。
              </p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</section>
<section id="about">
<div class="container">
    <hr class="featurette-divider">
    <div class="row featurette" >
        <div class="col-md-7">
          <h2 class="featurette-heading">操作は簡単!!コードを入力して実行するだけ</h2>
          <p class="lead">使い方は簡単。エディタ内にコードを打ち込み、実行ボタンを押すだけ。複雑な操作は一切無いので学習に集中できます。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{{ url_for('static', filename='image/about.png') }}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{{ url_for('static', filename='image/download.png') }}" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">ファイル保存機能搭載</h2>
          <p class="lead">打ち込んだコードはスクリプトダウンロードボタンで自分のPCに保存ができます。保存したファイルはpythonの実行環境があればそのまま実行することができます。</p>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">シンタックスハイライト搭載</h2>
          <p class="lead">メソッドや変数が色分けされているのでコードが非常に見やすくなっています。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{{ url_for('static', filename='image/syntax.png') }}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Hydrophiidae.</p>
      </footer>
</div>
</section>
{% endblock %}